@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  margin: 0;
  background-color: #fffefe;
  font-family: "Kaushan Script", cursive;
  font-weight: 200;
  font-style: normal;
}

.topbar {
  height: 110px;
  background: #d6923f;
  display: flex;
  padding: 0 25px;
}

.topbar .logo {
  margin: auto 0;
  height: 105px;
}

.topbar h1 {
  margin: 0 auto;
  color: #fdf9ce;
  font-size: 70px;

  
}

.main-content h1 {
  text-align: center;
  font-size: 40px;
}
